In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('DATA.csv')

In [3]:
data.head()

  AA     BB     CC    HH II JJ  KK LL   NN   OO PP
0  b  30.83  0.000  1.25  t  t   1  f  202    0  +
1  a  58.67  4.460  3.04  t  t   6  f   43  560  +
2  a  24.50  0.500  1.50  t  f   0  f  280  824  +
3  b  27.83  1.540  3.75  t  t   5  t  100    3  +
4  b  20.17  5.625  1.71  t  f   0  f  120    0  +

In [4]:
data.tail()

    AA     BB      CC    HH II JJ  KK LL   NN   OO PP
685  b  21.08  10.085  1.25  f  f   0  f  260    0  -
686  a  22.67   0.750  2.00  f  t   2  t  200  394  -
687  a  25.25  13.500  2.00  f  t   1  t  200    1  -
688  b  17.92   0.205  0.04  f  f   0  f  280  750  -
689  b  35.00   3.375  8.29  f  f   0  t    0    0  -

In [5]:
data.shape

(690, 11)

In [6]:
data.describe()

               BB          CC          HH         KK             OO
count  690.000000  690.000000  690.000000  690.00000     690.000000
mean    31.033652    4.758725    2.223406    2.40000    1017.385507
std     12.519978    4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.000000    0.00000       0.000000
25%     22.440000    1.000000    0.165000    0.00000       0.000000
50%     28.170000    2.750000    1.000000    0.00000       5.000000
75%     37.707500    7.207500    2.625000    3.00000     395.500000
max     80.250000   28.000000   28.500000   67.00000  100000.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AA      690 non-null    object
 1   BB      690 non-null    float64
 2   CC      690 non-null    float64
 3   HH      690 non-null    float64
 4   II      690 non-null    object
 5   JJ      690 non-null    object
 6   KK      690 non-null    int64
 7   LL      690 non-null    object
 8   NN      690 non-null    object
 9   OO      690 non-null    int64
 10  PP      690 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 59.4+ KB

In [8]:
data.replace({"JJ":{'f':0,'t':1}},inplace=True)
data.replace({"LL":{'f':0,'t':1}},inplace=True)
data.replace({"AA":{'a':0,'b':1}},inplace=True)
data.replace({"PP":{'-':0,'+':1}},inplace=True)
data.replace({"II":{'f':0,'t':1}},inplace=True)
data.replace({'?':0},inplace=True)

In [9]:
data.head()

  AA     BB     CC    HH  II  JJ  KK  LL   NN   OO  PP
0  1  30.83  0.000  1.25   1   1   1   0  202    0   1
1  0  58.67  4.460  3.04   1   1   6   0   43  560   1
2  0  24.50  0.500  1.50   1   0   0   0  280  824   1
3  1  27.83  1.540  3.75   1   1   5   1  100    3   1
4  1  20.17  5.625  1.71   1   0   0   0  120    0   1

In [10]:
data['PP']. value_counts()

PP
0    383
1    307
Name: count, dtype: int64

In [11]:
X = data.drop(columns=['PP'], axis = 1)
Y = data['PP']

In [12]:
X.isnull().sum()

AA    0
BB    0
CC    0
HH    0
II    0
JJ    0
KK    0
LL    0
NN    0
OO    0
dtype: int64

In [13]:
print(X)

    AA     BB      CC    HH  II  JJ  KK  LL   NN   OO
0    1  30.83   0.000  1.25   1   1   1   0  202    0
1    0  58.67   4.460  3.04   1   1   6   0   43  560
2    0  24.50   0.500  1.50   1   0   0   0  280  824
3    1  27.83   1.540  3.75   1   1   5   1  100    3
4    1  20.17   5.625  1.71   1   0   0   0  120    0
..  ..    ...     ...   ...  ..  ..  ..  ..  ...  ...
685  1  21.08  10.085  1.25   0   0   0   0  260    0
686  0  22.67   0.750  2.00   0   1   2   1  200  394
687  0  25.25  13.500  2.00   0   1   1   1  200    1
688  1  17.92   0.205  0.04   0   0   0   0  280  750
689  1  35.00   3.375  8.29   0   0   0   1    0    0

[690 rows x 10 columns]

In [14]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
685    0
686    0
687    0
688    0
689    0
Name: PP, Length: 690, dtype: int64

SUPPORT VECTOR MACHINE MODEL

In [15]:
scaler = StandardScaler()

In [16]:
scaler.fit(X)

StandardScaler()

In [17]:
standardized_data = scaler.transform(X)

In [18]:
print(standardized_data)

[[ 0.67505274 -0.01627798 -0.95661321 ... -0.91919518  0.1233843
  -0.19541334]
 [-1.48136574  2.20898124 -0.06005053 ... -0.91919518 -0.79124348
  -0.08785188]
 [-1.48136574 -0.5222367  -0.8561017  ... -0.91919518  0.57206962
  -0.03714433]
 ...
 [-1.48136574 -0.46228898  1.7571976  ...  1.08790822  0.11187954
  -0.19522126]
 [ 0.67505274 -1.048178   -0.91540349 ... -0.91919518  0.57206962
  -0.05135781]
 [ 0.67505274  0.31703132 -0.27816051 ...  1.08790822 -1.03859565
  -0.19541334]]

In [19]:
X = standardized_data
Y = data['PP']

In [20]:
print(X)
print(Y)

[[ 0.67505274 -0.01627798 -0.95661321 ... -0.91919518  0.1233843
  -0.19541334]
 [-1.48136574  2.20898124 -0.06005053 ... -0.91919518 -0.79124348
  -0.08785188]
 [-1.48136574 -0.5222367  -0.8561017  ... -0.91919518  0.57206962
  -0.03714433]
 ...
 [-1.48136574 -0.46228898  1.7571976  ...  1.08790822  0.11187954
  -0.19522126]
 [ 0.67505274 -1.048178   -0.91540349 ... -0.91919518  0.57206962
  -0.05135781]
 [ 0.67505274  0.31703132 -0.27816051 ...  1.08790822 -1.03859565
  -0.19541334]]
0      1
1      1
2      1
3      1
4      1
      ..
685    0
686    0
687    0
688    0
689    0
Name: PP, Length: 690, dtype: int64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(690, 10) (552, 10) (138, 10)

In [23]:
classifier = svm.SVC(kernel = 'linear')

In [24]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [25]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.8532608695652174

In [27]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [28]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8695652173913043

In [29]:
input_data = (1,	30.83,	0,	1.25,	1,	1,	1	,0	,202,	0)

input_data_array = np.asarray(input_data)

input_data_reshaped = input_data_array.reshape(1, -1)

std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not approved')
else:
  print('The person is approved')

[[ 0.67505274 -0.01627798 -0.95661321 -0.29108264  0.95465038  1.15714435
  -0.28810053 -0.91919518  0.1233843  -0.19541334]]
[1]
The person is approved

c:\Users\namra\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(